//Styles for Mobile
.booking {
	width: 100%;
	background-color: #f4f4f4;
	display: flex;
	box-sizing: border-box;
	padding-left: 123px;
	padding-right: 123px;
}
.booking-form__name, 
.booking-form__email {
	border: 2px solid #7a7a7a;
	background: none;
}

@media(max-width: $tablet-width) {
	.booking {
		flex-flow: column nowrap;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.booking__h2, .booking__text small {
		display: block;
		margin:10px auto;
		text-align: center;
	}

	.booking-form {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-content: center;

		margin: 0 auto;

		text-align: center;
	}

	.booking-form__name, .booking-form__email {
		width: 250px;
		height: 8px;
		padding: 25px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.booking-form__button {
		width: 304px;
		height: 66px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

}

//Styles for Tablet

@media(min-width: ($tablet-width + 1px)) and (max-width: $desktop-width) {
	.booking {
		flex-flow: row wrap;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.booking__text {
		display: block;
		width: auto;
		margin-left: 23px;
		padding-left: 60px;
	}
	.booking-form {
		width: 50%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		margin-left: 60px;
	}

	.booking-form__name, .booking-form__email {
		width: 306px;
		height: 8px;
		padding: 26px;
		margin-bottom: 15px;
	}

	.booking-form__button {
		width: 240px;
		height: 66px;
	}

}


//Styles for Desktop

@media(min-width:$desktop-width){
	.booking {
		flex-flow: row wrap;
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.booking__text {
		display: block;
		width: 530px;
	}

	.booking__h2 {
		margin-bottom: 0;
	}

	.booking__text small {
		font-size: 18px;
		color: #5b5b5c;
		margin-top: -20px;
	}


	.booking-form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-top: 28px;
	
	}

	.booking-form__name, .booking-form__email {
		width: 306px;
		height: 8px;
		padding: 26px;
		margin-right: 65px;
	}

	.booking-form__button {
		width: 240px;
		height: 66px;
	}

}