

//Styles for Mobile


//Styles for Desktop

@media(min-width:$desktop-width){
	.booking {
		display: flex;
		flex-flow: row wrap;

		background-color: #f4f4f4;
		width: 100%;
	/*
		padding-left: 123px;
		padding-right: 123px; */
		padding-top: 150px;
		padding-bottom: 150px;

	}

	.booking__text {
		display: block;
		width: 530px;
		margin-left: 123px;
		padding-left: 60px;
	}




	.booking__h2 {
		margin-bottom: 0;
	}

	.booking__text small {
		font-size: 18px;
		color: #5b5b5c;
		margin-top: -20px;
	}




	.booking-form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-top: 28px;
	}

	.booking-form__name, .booking-form__email {
		width: 306px;
		height: 8px;
		padding: 26px;
		margin-right: 65px;
	}

	.booking-form__button {
		width: 240px;
		height: 66px;
	}

}