//Styles for Mobile
.page-footer__nav a:hover,
	.page-footer__nav a:focus {
		text-decoration: underline;
		color: #666666;
	}

	.page-footer__copyright {
		text-align: center;
		margin-top: 64px;
		text-transform: uppercase;
		line-height: 0.8em;
	}

@media(max-width: $tablet-width) {
	.page-footer {
		padding-top: 30px;
	}
	.page-footer__nav ul {
		@include reset-list;
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;

		text-transform: uppercase;

		text-align: center;
	}
	.page-footer__nav a {
		text-decoration: none;
		color: #000000;
		display: block;
		letter-spacing: 2px;

		padding: 10px;
	}

}

//Styles for Desktop

@media(min-width:$desktop-width){

	.page-footer {
		width: 100%;
		padding-top: 93px;
		padding-bottom: 112px;
	}
	.page-footer__wrapper {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	.page-footer__nav ul {
		@include reset-list;
		width: 570px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		text-transform: uppercase;
	}
	.page-footer__nav a {
		text-decoration: none;
		color: #000000;

		letter-spacing: 2px;
	}

	.page-footer__copyright {
		width: 570px;

	}

}