.photos {
	margin-top: 117px;
}
.photos__h2, .offers__h2 {
	text-transform: uppercase;
	font-size: 32px;
	color: #000000;
	text-align: center;
}

.photo-gallery__images {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.photo-gallery__images picture {
	margin-bottom: 30px;
}

.photo-gallery__pagination {
	display: flex;
	flex-flow: row nowrap;
	width: 250px;
	justify-content: space-between;

	margin: 0 auto;
}

.photo-gallery__page-links {
	color: #c5c5c5;
	display: inline-block;
	text-align: center;
}

.photo-gallery__arrow--left,
.photo-gallery__arrow--right {
	display: inline-block;
	height: 34px;
	width: 16px;
}

.photo-gallery__arrow--left {
	background-image: url(../../img/to-left.png);
	background-repeat: no-repeat;
}
.photo-gallery__arrow--right {
	background-image: url(../../img/to-right.png);
	background-repeat: no-repeat;
}

.photo-gallery__page-link {
	font-size: 30px;
	text-decoration: none;
	display: inline-block;
	height: 34px;
	padding-bottom: 5px;
	color: #000;
}

.photo-gallery__page-link.disabled {
	color: #c5c5c5;
}
