body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 30px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #5b5b5c;
  font-style: normal;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
