//Styles for mobile
@media(max-width:$tablet-width) {

	.button--black-border {
		margin: 0 auto;
	}

	.button--grey {
		margin-bottom: 30px;
	}
}


//General styles
.button {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.button--empty {
	display: block;
	width: 294px;
	height: 43px;
	border: 2px solid #ffffff;
	text-align: center;
	padding-top: 12px;

	color: #ffffff;
	text-decoration: none;
}
.button--black-border {
	display: block;
	width: 294px;
	height: 43px;
	border: 2px solid #000000;
	text-align: center;
	padding-top: 12px;

	color: #000000;
	text-decoration: none;

}

.button--black-border:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.button--grey {
	background-color: #dddcdc;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	width: 222px;
	height: 60px;
	border: none;
}
.button--grey:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	color: #ffffff;
}

.button--dark-grey {
	background-color: #3a4047;
	border: 2px solid #7a7a7a;
	color: #ffffff;
	text-transform: uppercase;
}

.button--dark-grey:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	color: #eeeeee;
}
