html {
	scroll-behavior: smooth;
}

//Styles for Mobile
body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-size: 16px; 
	line-height: 1.5em;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #5b5b5c;
	font-style: normal;
	letter-spacing: 1px;

	background-color: $bg-color;
}
img {
	max-width: 100%;
	height: auto; 
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px; 
	border: 0;
	padding: 0;

	white-space: nowrap; 

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.disabled {
	cursor:default;
}

.page-main {
	padding-left: 23px;
	padding-right: 23px;
	margin-top: 68px;
}

section {
	margin-top: 66px;
}
.section-intro {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #5b5b5c;
	letter-spacing: 1px;
	letter-spacing: 1px;
}
.section-h2 {
	font-size: 14px;
	color: #c4c4c4;
	font-weight: normal;
	letter-spacing: 2px;
}

.section__caption {
	text-transform: uppercase;
	font-size: 24px;
	color:#000000;
	font-weight: normal;
}

.section__img {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

section p {
	color: #5b5b5c;
}

@media(max-width: $tablet-width) {
	.section-intro br {
		display: none;
	}
}

//Styles for Tablet

@media(min-width:$tablet-width){



}

//Styles for Desktop

@media(min-width:$desktop-width){

	body {
		font-size: 22px; 
		line-height: 1.5em;
		color: #5b5b5c;
	}

	.main-nav, 
	.page-header__logo,
	.page-header__link {
		z-index: 999;
	}
	.page-main {
		padding-left: 123px;
		padding-right: 123px;
	}

	@media (min-width:2000px) {
		.page-main {
			padding-left: 300px;
			padding-right: 300px;
		}
	
		
	}

	.section-intro {
		font-size: 28px;
		letter-spacing: 3px;
		letter-spacing: 3px;
	}
	.section-h2 {
		font-size: 22px;
		letter-spacing: 3px;
	}
	.section__caption {
		font-size: 30px;
	}
	section p {
		padding-right: 36px;
		margin-bottom: 50px;
	}

}

@import "blocks/_page-header.scss";
@import "blocks/_main-nav.scss";
@import "blocks/_about.scss";
@import "blocks/_photos.scss";
@import "blocks/_offers.scss";
@import "blocks/_next-tour.scss";
@import "blocks/_booking.scss";
@import "blocks/_page-footer.scss";
@import "_buttons.scss";
